:root {
  --primary-light: rgb(238, 238, 238);
  --primary-dark: rgb(71, 68, 68);
  --secondary-dark: rgb(124, 124, 124);
  --red: rgb(206, 98, 98);
  --green: rgb(121, 185, 155);
  --blue: rgb(66, 94, 255);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header */

body {
  background: var(--primary-light);
  font-family: 'Carter One', sans-serif;
  color: var(--secondary-dark);
  text-align: center;
  font-size: 16px;
}

h1 {
  letter-spacing: 0.2rem;
  margin-top: 1em;
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  margin: 1em 0 2em;
}

.rock-header {
  color: var(--blue);
}

.paper-header {
  color: var(--red);
}

.scissor-header {
  color: var(--green);
}

/* body */

.selection-grid {
  max-width: 50em;
  border-radius: 8px;
  border: 5px solid var(--primary-dark);
  padding: 2em;
  width: min(90%);
  margin: 1em auto;
  display: flex;
  justify-content: space-evenly;
}

.selection {
  margin: 1em;
  background-color: transparent;
  border: none;
}

.selection-icon {
  z-index: 99;
  font-size: 8em;
  color: var(--primary-dark);
  transition: all .3s;
}

.selection-disabled,
.game-over {
  opacity: 0.5;
  cursor: default;
  transform: none;
}

.selection-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  transition: all .3s;
}

.rock-icon:hover {
  color: var(--blue);
}

.paper-icon:hover {
  color: var(--red);
}

.scissor-icon:hover {
  color: var(--green);
}

/* game output */

.battle-grid {
  transform: scale(0);
  transition: all .3s;
}

.battle-grid.appear {
  overflow: hidden;
  max-width: 50em;
  border-radius: 8px;
  border: 5px solid var(--primary-dark);
  padding: 2em;
  width: min(90%);
  margin: 1em auto 0;
  display: flex;
  justify-content: space-evenly;
  
  transform: scale(1);
  transition: all .3s;
}

.player-icon,
.cpu-icon {
  position: relative;
  font-size: 7em;
  transition: all .3s;
}

.animation-win {
  animation: shake 0.3s 1.25s;
  animation-fill-mode: forwards;
}

.animation-lose {
  animation: shake 0.75s 0.5s;
  animation-fill-mode: forwards;
}

.animation-tie {
  animation: scale 0.3s 0.5s;
  animation-fill-mode: forwards;
}

.animation-player-atk {
  animation: player-attack 0.5s 0s;
}

.animation-cpu-atk {
  animation: cpu-attack 0.5s 0s;
}

.selection-battle > .fa-hand-rock {
  color: var(--blue);
}

.selection-battle > .fa-hand-paper {
  color: var(--red);
}

.selection-battle > .fa-hand-scissors {
  color: var(--green);
}

.selection-battle > p {
  margin-bottom: 0.5em;
}

.score-grid {
  transform: scale(0);
  transition: all 0.3s;
}

.score-grid.appear {
  font-size: 1.2em;
  max-width: 50rem;
  border-radius: 8px;
  border: 5px solid var(--primary-dark);
  padding: 1em;
  width: min(90%);
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1em;

  transform: scale(1);
  transition: all 0.3s;
}

.restart {
  margin: auto;
  font-family: 'Carter One', sans-serif;
  font-size: 1em;
  color: var(--secondary-dark);
  background: var(--primary-light);
  border-radius: 0.5em;
  width: 13em;
  height: 3em;
  transform: scale(0);
  transition: all 0.3s;
}

.restart.appear {
  transform: scale(1);
  transition: all 0.3s;
}

.restart:hover {
  background: var(--secondary-dark);
  color: var(--primary-light);
  transition: 0.1s ease-in;
}

/* animations */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  5% { transform: translate(-10px, -2px) rotate(-5deg); }
  10% { transform: translate(-3px, 0px) rotate(5deg); }
  15% { transform: translate(30px, 2px) rotate(0deg); }
  20% { transform: translate(1px, -1px) rotate(5deg); }

  55% { transform: scale(1.75); }
  100%{ transform: scale(0); }
}

@keyframes player-attack {
  0% { transform: translateX(0px) rotate(0deg); }
  90% { transform: translateX(-150px) rotate(-15deg); }
  
  92% { transform: translate(1px, 1px) rotate(0deg); }
  94% { transform: translate(-10px, -2px) rotate(-5deg); }
  96% { transform: translate(-3px, 0px) rotate(5deg); }
  98% { transform: translate(30px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(5deg); }
}

@keyframes cpu-attack {
  0% { transform: translateX(0px) rotate(0deg); }
  90% { transform: translateX(150px) rotate(15deg); }

  92% { transform: translate(1px, 1px) rotate(0deg); }
  94% { transform: translate(-10px, -2px) rotate(-5deg); }
  96% { transform: translate(-3px, 0px) rotate(5deg); }
  98% { transform: translate(30px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -1px) rotate(5deg); }
}

@keyframes scale {
  0% { transform: scale(1); }
  50% { transform: scale(0.7); }
  100% { transform: scale(1.1); }
}

/* media queries */

@media (max-width: 750px) {
  h1 {
    margin: 0.5em 0 0;
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.1em;
    margin: 0;
  }

  .selection-grid {
    padding: 1.2em 1em;
  }

  .selection-icon {
    font-size: 6em;
  }

  .battle-grid.appear {
    padding: 1.2em 1em;
    gap: 1em;
  }

  .player-icon,
  .cpu-icon {
    font-size: 5em;
  }

  .score-grid.appear {
    font-size: 1em;
    gap: 0.5em;
  }

  .restart.appear {
    width: 8em;
    height: 3em;
  }

  @keyframes player-attack {
    0% { transform: translateX(0px) rotate(0deg); }
    90% { transform: translateX(-50px) rotate(-15deg); }
    
    92% { transform: translate(1px, 1px) rotate(0deg); }
    94% { transform: translate(-10px, -2px) rotate(-5deg); }
    96% { transform: translate(-3px, 0px) rotate(5deg); }
    98% { transform: translate(30px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(5deg); }
  }
  
  @keyframes cpu-attack {
    0% { transform: translateX(0px) rotate(0deg); }
    90% { transform: translateX(50px) rotate(15deg); }
  
    92% { transform: translate(1px, 1px) rotate(0deg); }
    94% { transform: translate(-10px, -2px) rotate(-5deg); }
    96% { transform: translate(-3px, 0px) rotate(5deg); }
    98% { transform: translate(30px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -1px) rotate(5deg); }
  }
}